.pomdoro
  form(name="form")
    div(layout="row")
      md-card
        md-card-content
          div(ng-if="!$ctrl.isTimerStarted")
            md-input-container
              label Minutes
              input(type="number" min="5" max="60" name="minute" ng-model="$ctrl.countdown.minute")
          div(layout="row", ng-if="$ctrl.isTimerStarted")
            .minute 
              | {{ $ctrl.countdown.minute || 00 }} minutes
            .second
              | {{ $ctrl.countdown.second || 00 }} seconds
          div(flex)
            div(layout="")
              div(flex="35", layout="", layout-align="center center")
                span.md-body-1 Seconds
              md-slider(flex="", ng-model="$ctrl.countdown.second", step="1", min="0", max="60", aria-label="rating" disabled)
            div(layout="")
              div(flex="35", layout="", layout-align="center center")
                span.md-body-1 Minutes
              md-slider(flex="", ng-model="$ctrl.countdown.minute", step="1", min="0", max="60", aria-label="rating" ng-disabled="$ctrl.isTimerStarted")
        md-card-actions(layout="row", layout-align="end center")
          md-button(ng-click="$ctrl.resetTimer();") Reset
          |     
          md-button.md-primary.md-raised(ng-if="!$ctrl.isTimerStarted" ng-click="$ctrl.startTimer();") Start
          |
          md-button(ng-if="$ctrl.isTimerStarted" ng-click="$ctrl.pauseTimer();") Pause
