.pomdoro
  form(name="form")
    div(layout="row")
      md-card
        md-card-content
          div(ng-if="!$ctrl.isTimerStarted")
            md-input-container
              label Minutes
              input(type="number" min="5" max="60" name="minute" ng-model="$ctrl.countdown.minute")
          div(layout="row", ng-if="$ctrl.isTimerStarted")
            .minute 
              | {{ $ctrl.countdown.minute || 00 }} minutes
            .second
              | {{ $ctrl.countdown.second || 00 }} seconds
        md-card-actions(layout="row", layout-align="end center")
          md-button(ng-click="$ctrl.stopTimer();") Stop
          |     
          md-button(ng-click="$ctrl.resetTimer();") Reset
          |     
          md-button(ng-click="$ctrl.startTimer();") Start {{ form | json }}
